**Assigning a New Column to Pandas Dataframe**

https://chrisalbon.com/python/data_wrangling/pandas_assign_new_column_dataframe/

In [1]:
import pandas as pd

**Create a dataframe**

In [2]:
#Create empty dataframe

df = pd.DataFrame()

#Create a column

df['name'] = ['John', 'Steve', 'Sarah']

#View Dataframe
df

    name
0   John
1  Steve
2  Sarah

**Assign new column to the Dataframe**

In [3]:
df.assign(age = [31, 32, 19])

    name  age
0   John   31
1  Steve   32
2  Sarah   19