**Convert A Variable To A Time Variable In pandas**

https://chrisalbon.com/python/data_wrangling/pandas_convert_to_datetime/

In [1]:
import pandas as pd

In [2]:
# Create a dataset
raw_data = {'date': ['2014-06-01T01:21:38.004053', '2014-06-02T01:21:38.004053', '2014-06-03T01:21:38.004053'],
        'score': [25, 94, 57]}

df = pd.DataFrame(raw_data, columns = ['date', 'score'])
df

                         date  score
0  2014-06-01T01:21:38.004053     25
1  2014-06-02T01:21:38.004053     94
2  2014-06-03T01:21:38.004053     57

In [3]:
df.dtypes

date     object
score     int64
dtype: object

In [4]:
df['date'] = pd.to_datetime(df['date'])
df

                        date  score
0 2014-06-01 01:21:38.004053     25
1 2014-06-02 01:21:38.004053     94
2 2014-06-03 01:21:38.004053     57

In [5]:
df.dtypes

date     datetime64[ns]
score             int64
dtype: object