**Find the Largest Value in a Dataframe Column**

https://chrisalbon.com/python/data_wrangling/pandas_find_largest_value_in_column/

In [1]:
import pandas as pd

**Create a DataFrame**

In [2]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name','last_name','age','preTestScore','postTestScore'])
df

  first_name last_name  age  preTestScore  postTestScore
0      Jason    Miller   42             4             25
1      Molly  Jacobson   52            24             94
2       Tina       Ali   36            31             57
3       Jake    Milner   24             2             62
4        Amy     Cooze   73             3             70

In [6]:
#Index of the row with highest score in preTestScore Column
df['preTestScore'].idxmax()

2

In [7]:
#Printing the row with the max value for preTestScore

df.iloc[df['preTestScore'].idxmax()]

first_name       Tina
last_name         Ali
age                36
preTestScore       31
postTestScore      57
Name: 2, dtype: object