**Ranking Rows of a Pandas Dataframe (Based on the rank of values of a specific column)**

https://chrisalbon.com/python/data_wrangling/pandas_dataframe_ranking_rows/

In [1]:
import pandas as pd

**Create a Dataframe**

In [2]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

            coverage   name  reports  year
Cochice           25  Jason        4  2012
Pima              94  Molly       24  2012
Santa Cruz        57   Tina       31  2013
Maricopa          62   Jake        2  2014
Yuma              70    Amy        3  2014

In [3]:
#Create a new column that is the rank of the coverage in ascending order

df['coverageRanked'] = df['coverage'].rank(ascending=1)
df

            coverage   name  reports  year  coverageRanked
Cochice           25  Jason        4  2012             1.0
Pima              94  Molly       24  2012             5.0
Santa Cruz        57   Tina       31  2013             2.0
Maricopa          62   Jake        2  2014             3.0
Yuma              70    Amy        3  2014             4.0