**Split Latitude/Longitude coordinates into separate variables**

https://chrisalbon.com/python/data_wrangling/pandas_split_lat_and_long_into_variables/

In [2]:
import pandas as pd
import numpy as np

**Create a dataframe**

In [19]:
raw_data = {'geo': ['40.0024, -105.4102', '40.0068, -105.266', '39.9318, -105.2813', np.nan]}
df = pd.DataFrame(raw_data, columns = ['geo'])
df

                  geo
0  40.0024, -105.4102
1   40.0068, -105.266
2  39.9318, -105.2813
3                 NaN

In [20]:

lat = []
lon = []

for row in df['geo']:
    try:
        lat.append(row.split(',')[0])
        lon.append(row.split(',')[1])
    except:
        lat.append(np.NaN)
        lon.append(np.NaN)
        
#Create variables from the lat long lists
df['latitude'] = lat
df['longitude'] = lon

df

                  geo latitude   longitude
0  40.0024, -105.4102  40.0024   -105.4102
1   40.0068, -105.266  40.0068    -105.266
2  39.9318, -105.2813  39.9318   -105.2813
3                 NaN      NaN         NaN