**Using List Comprehensions With pandas**

https://chrisalbon.com/python/data_wrangling/pandas_list_comprehension/

In [1]:
import pandas as pd

**Create an example dataframe**

In [2]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

**List Comprehensions**

**As a loop**

In [3]:
next_year = []

for row in df['year']:
    next_year.append(row+1)
    
#Create 'next_year' variable
df['next_year'] = next_year
df

             name  reports  year  next_year
Cochice     Jason        4  2012       2013
Pima        Molly       24  2012       2013
Santa Cruz   Tina       31  2013       2014
Maricopa     Jake        2  2014       2015
Yuma          Amy        3  2014       2015

**As List comprehension**

In [5]:
df['prev_year'] = [(row - 1) for row in df['year']]

df

             name  reports  year  next_year  prev_year
Cochice     Jason        4  2012       2013       2011
Pima        Molly       24  2012       2013       2011
Santa Cruz   Tina       31  2013       2014       2012
Maricopa     Jake        2  2014       2015       2013
Yuma          Amy        3  2014       2015       2013