**If Else on Any or All Elements**

https://chrisalbon.com/python/basics/ifelse_on_any_or_all_elements/

**Preliminaries**

In [1]:
import pandas as pd

**Create a simulated dataset**

In [3]:
# Create an example dataframe
data = {'score': [1,2,3,4,5]}
df = pd.DataFrame(data)
df

   score
0      1
1      2
2      3
3      4
4      5

**Does any cell equal 3?**

In [4]:
#If any element in df['score'] equals 3
if (df['score'] == 3).any():
    print('Is any of the scores 3,Yes!')
#otherwise
else:
#print this
    print('Is any of the scores 3,No!')

Is any of the scores 3,Yes!

**Do all cells equal 3?**

In [5]:
# If all elements in df['score'] equal three,
if (df['score'] == 3).all():
    print('Are all the scores 3,Yes!')
#otherwise
else:
#print this
    print('Are all the scores 3,No!')

Are all the scores 3,No!