**Delete missing values using numpy and pandas**

https://chrisalbon.com/machine_learning/preprocessing_structured_data/deleting_missing_values/

**Preliminaries**

In [1]:
import numpy as np
import pandas as pd

**Create a feature matrix**

In [2]:
X = np.array([[1,2],
              [6,3],
              [8,4],
              [9,5],
              [np.nan,4]])

X

array([[  1.,   2.],
       [  6.,   3.],
       [  8.,   4.],
       [  9.,   5.],
       [ nan,   4.]])

**Drop missing values using numpy**

In [3]:
X[~np.isnan(X).any(axis=1)]

array([[ 1.,  2.],
       [ 6.,  3.],
       [ 8.,  4.],
       [ 9.,  5.]])

**Drop missing values using pandas**

In [4]:
#Load the data into a dataframe

df = pd.DataFrame(X, columns=['feature_1','feature_2'])
df

   feature_1  feature_2
0        1.0        2.0
1        6.0        3.0
2        8.0        4.0
3        9.0        5.0
4        NaN        4.0

In [5]:
#Remove observations with missing values
df.dropna()

   feature_1  feature_2
0        1.0        2.0
1        6.0        3.0
2        8.0        4.0
3        9.0        5.0