**One-hot Encode Nominal categorical features**

https://chrisalbon.com/machine_learning/preprocessing_structured_data/one-hot_encode_nominal_categorical_features/

**One-hot Encoding-** It allows us to turn nominal categorical data into features with numerical values, while not mathematically implying any ordinal relationship between the classes.

**Preliminaries**

In [1]:
#Load libraries

import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelBinarizer

**Create Data with one class label**

In [4]:
#Create numpy array

y = np.array([['Texas'],
              ['California'],
              ['Texas'],
              ['Delaware'],
              ['Texas']])
y

array([['Texas'],
       ['California'],
       ['Texas'],
       ['Delaware'],
       ['Texas']],
      dtype='<U10')

**One-hot Encode Data (Method 1)**

In [5]:
#Create LabelBinarizer object
one_hot = LabelBinarizer()

#One-hot Encode data
one_hot.fit_transform(y)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

**View column headers**

In [6]:
#View classes

one_hot.classes_

array(['California', 'Delaware', 'Texas'],
      dtype='<U10')

**One-hot Encode Data (Method 2)**

In [7]:
#Dummy feature
pd.get_dummies(y[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1