**Preprocessing categorical features**

https://chrisalbon.com/machine_learning/preprocessing_structured_data/preprocessing_categorical_features/

Often Machine Learning methods (e.g. Logistic Regression, SVM with linear kernel etc.) will require that categorical variables be converted into dummy variables (also called one-hot encoding). For example, a single feature 'Fruit' can be coverted into three features Apples, Oranges and Bananas, one for each category in the categorical feature.

There are common ways to preprocess categorical features : using pandas or scikitlearn.

**Preliminaries**

In [1]:
#Load libraries

import pandas as pd
from sklearn import preprocessing

**Create Data**

In [2]:
raw_data = {'first_name' : ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
            'last_name' : ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
            'age' : [42, 52, 36, 24, 73],
            'city' : ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']
           }

df = pd.DataFrame(raw_data, columns = ['first_name','last_name','age','city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

**Convert Nominal categorical feature into dummy variables using Pandas**

In [3]:
# Create dummy variables for every unique category in df.city
pd.get_dummies(df['city'])

   Baltimore  Boston  Douglas  Miami  San Francisco
0          0       0        0      0              1
1          1       0        0      0              0
2          0       0        0      1              0
3          0       0        1      0              0
4          0       1        0      0              0

**Convert Nominal categorical data into dummy (one-hot) features using scikit**

In [5]:
# Convert strings categorical names to integers
integerized_data = preprocessing.LabelEncoder().fit_transform(df['city'])

#View Data
integerized_data

array([4, 0, 3, 2, 1])

In [8]:
# Convert integer categorical representations to OneHot encodings

preprocessing.OneHotEncoder().fit_transform(integerized_data.reshape(-1,1)).toarray()

array([[ 0.,  0.,  0.,  0.,  1.],
       [ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.]])

Note that the output of pd.get_dummies() and the scikit methods produces the same output matrix.