**Breakup Dates and Times into multiple features**

https://chrisalbon.com/machine_learning/preprocessing_dates_and_times/break_up_dates_and_times_into_multiple_features/

**Preliminaries**

In [1]:
#Load libraries

import pandas as pd

**Create Date and Time data**

In [2]:
#Create date dataframe

df = pd.DataFrame()

#Create five dates

df['date'] = pd.date_range('1/1/2001',periods = 150, freq = 'W')
df['date']

0     2001-01-07
1     2001-01-14
2     2001-01-21
3     2001-01-28
4     2001-02-04
5     2001-02-11
6     2001-02-18
7     2001-02-25
8     2001-03-04
9     2001-03-11
10    2001-03-18
11    2001-03-25
12    2001-04-01
13    2001-04-08
14    2001-04-15
15    2001-04-22
16    2001-04-29
17    2001-05-06
18    2001-05-13
19    2001-05-20
20    2001-05-27
21    2001-06-03
22    2001-06-10
23    2001-06-17
24    2001-06-24
25    2001-07-01
26    2001-07-08
27    2001-07-15
28    2001-07-22
29    2001-07-29
         ...
120   2003-04-27
121   2003-05-04
122   2003-05-11
123   2003-05-18
124   2003-05-25
125   2003-06-01
126   2003-06-08
127   2003-06-15
128   2003-06-22
129   2003-06-29
130   2003-07-06
131   2003-07-13
132   2003-07-20
133   2003-07-27
134   2003-08-03
135   2003-08-10
136   2003-08-17
137   2003-08-24
138   2003-08-31
139   2003-09-07
140   2003-09-14
141   2003-09-21
142   2003-09-28
143   2003-10-05
144   2003-10-12
145   2003-10-19
146   2003-10-26
147   2003-11-02
148   2003-11-09
149   2003-11-16
Name: date, dtype: datetime64[ns]

**Break up date and time into individual features**

In [3]:
#Create features for year, month, day , hour, minute

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['min'] = df['date'].dt.minute

#Show first three rows

df.head(3)

        date  year  month  day  hour  min
0 2001-01-07  2001      1    7     0    0
1 2001-01-14  2001      1   14     0    0
2 2001-01-21  2001      1   21     0    0