**Convert Pandas Columns Time Zone**

https://chrisalbon.com/machine_learning/preprocessing_dates_and_times/convert_pandas_column_timezone/

**Preliminaries**

In [1]:
#Load libraries

import pandas as pd
from pytz import all_timezones

**View ten TimeZones**

In [3]:
all_timezones[0:10]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau']

**Create Pandas series of dates**

In [4]:
#Create 10 dates

dates = pd.Series(pd.date_range('2/2/2002', periods = 10, freq = 'M'))

**Add Time Zone to pandas series**

In [6]:
#Set Time Zone
dates_with_abidjan_time_zone = dates.dt.tz_localize('Africa/Abidjan')

#View Pandas series
dates_with_abidjan_time_zone

0   2002-02-28 00:00:00+00:00
1   2002-03-31 00:00:00+00:00
2   2002-04-30 00:00:00+00:00
3   2002-05-31 00:00:00+00:00
4   2002-06-30 00:00:00+00:00
5   2002-07-31 00:00:00+00:00
6   2002-08-31 00:00:00+00:00
7   2002-09-30 00:00:00+00:00
8   2002-10-31 00:00:00+00:00
9   2002-11-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

**Convert Time Zone of Pandas series**

In [7]:
#Convert time zone

dates_with_london_time_zone = dates_with_abidjan_time_zone.dt.tz_convert('Europe/London')

#View Pandas series
dates_with_london_time_zone

0   2002-02-28 00:00:00+00:00
1   2002-03-31 00:00:00+00:00
2   2002-04-30 01:00:00+01:00
3   2002-05-31 01:00:00+01:00
4   2002-06-30 01:00:00+01:00
5   2002-07-31 01:00:00+01:00
6   2002-08-31 01:00:00+01:00
7   2002-09-30 01:00:00+01:00
8   2002-10-31 00:00:00+00:00
9   2002-11-30 00:00:00+00:00
dtype: datetime64[ns, Europe/London]