**Handling Missing values in a Time Series**

https://chrisalbon.com/machine_learning/preprocessing_dates_and_times/handling_missing_values_in_time_series/

**Preliminaries**

In [2]:
#Load libraries

import pandas as pd
import numpy as np

**Create Date data with gap in values**

In [3]:
#Create dates

time_index = pd.date_range('01/01/2010', periods =5 , freq ='M')

#Create dataframe, set index

df = pd.DataFrame(index = time_index)

#Create feature with a gap of missing values

df['sales'] = [1.0,2.0,np.nan,np.nan,5.0]

In [4]:
df

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    NaN
2010-04-30    NaN
2010-05-31    5.0

**Interpolate missing values**

In [6]:
df.interpolate()

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    4.0
2010-05-31    5.0

**Forward fill missing values**

In [7]:
df.ffill()

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    2.0
2010-04-30    2.0
2010-05-31    5.0

**Back fill missing values**

In [8]:
df.bfill()

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    5.0
2010-04-30    5.0
2010-05-31    5.0

**Interpolate missing values but only upto one value**

In [9]:
df.interpolate(limit=1, limit_direction='forward')

            sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    NaN
2010-05-31    5.0