**Select Date And Time Ranges**

https://chrisalbon.com/machine_learning/preprocessing_dates_and_times/select_date_and_time_ranges/

**Preliminaries**

In [1]:
#Load library

import pandas as pd

**Create Pandas Series Time Data**

In [2]:
#Create Dataframe

df = pd.DataFrame()

df['date'] = pd.date_range('1/1/2001', periods=100000, freq='H')

**Select Time Range (Method 1)**

Use this method if your dataframe is not indexed by time

In [5]:
#Select observations between two date times

df[(df['date'] > '2002-1-1 01:00:00') & (df['date'] <= '2002-1-1 04:00:00')]

                    date
8762 2002-01-01 02:00:00
8763 2002-01-01 03:00:00
8764 2002-01-01 04:00:00

**Select Time Range (Method 2)**

Use this method if your dataframe is indexed by time

In [6]:
#Set Index
df = df.set_index(df['date'])

#Select observations between two date times
df.loc['2002-1-1 01:00:00':'2002-1-1 04:00:00']

                                   date
date
2002-01-01 01:00:00 2002-01-01 01:00:00
2002-01-01 02:00:00 2002-01-01 02:00:00
2002-01-01 03:00:00 2002-01-01 03:00:00
2002-01-01 04:00:00 2002-01-01 04:00:00