**Apply Operations to Groups in Pandas**

https://chrisalbon.com/python/data_wrangling/pandas_apply_operations_to_groups/

**Preliminaries**

In [1]:
import pandas as pd

In [3]:
# Create dataframe
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

df = pd.DataFrame(raw_data, columns = ['regiment','company','name','preTestScore','postTestScore'])
df

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

**Create a Groupby variable that groups preTestScores by regiment**

In [10]:
group_regiment = df['preTestScore'].groupby(df['regiment'])
group_regiment

This Group variable is now a Group by object. It has not actually computed anything yet except for some intermediate data about the group key df['key1'].The idea is that this object has all the information needed to then apply some operation to each of the groups.

**View a grouping**

In [12]:
#Use list to show what a grouping looks like.

list(group_regiment)

[('Dragoons', 4     3
  5     4
  6    24
  7    31
  Name: preTestScore, dtype: int64), ('Nighthawks', 0     4
  1    24
  2    31
  3     2
  Name: preTestScore, dtype: int64), ('Scouts', 8     2
  9     3
  10    2
  11    3
  Name: preTestScore, dtype: int64)]

**Descriptive Statistics by group**

In [13]:
df['preTestScore'].groupby(df['regiment']).describe()

regiment
Dragoons    count     4.000000
            mean     15.500000
            std      14.153916
            min       3.000000
            25%       3.750000
            50%      14.000000
            75%      25.750000
            max      31.000000
Nighthawks  count     4.000000
            mean     15.250000
            std      14.453950
            min       2.000000
            25%       3.500000
            50%      14.000000
            75%      25.750000
            max      31.000000
Scouts      count     4.000000
            mean      2.500000
            std       0.577350
            min       2.000000
            25%       2.000000
            50%       2.500000
            75%       3.000000
            max       3.000000
Name: preTestScore, dtype: float64

 **Mean of each regiment's preTestScore**

In [15]:
group_regiment.mean()

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

**Mean preTestScores grouped by regiment and company**

In [21]:
df['preTestScore'].groupby([df['regiment'],df['company']]).mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

**Mean preTestScores grouped by regiment and company without hierarchical index**

In [22]:
df['preTestScore'].groupby([df['regiment'],df['company']]).mean().unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

**Group the entire dataframe by regiment and company**

In [25]:
df.groupby([df['regiment'],df['company']]).mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

**Number of observations in each regiment and company**

In [29]:
df.groupby([df['regiment'],df['company']]).size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

**Iterate an operation over groups**

In [31]:
list(df.groupby(df['regiment']))

[('Dragoons',    regiment company    name  preTestScore  postTestScore
  4  Dragoons     1st   Cooze             3             70
  5  Dragoons     1st   Jacon             4             25
  6  Dragoons     2nd  Ryaner            24             94
  7  Dragoons     2nd    Sone            31             57),
 ('Nighthawks',      regiment company      name  preTestScore  postTestScore
  0  Nighthawks     1st    Miller             4             25
  1  Nighthawks     1st  Jacobson            24             94
  2  Nighthawks     2nd       Ali            31             57
  3  Nighthawks     2nd    Milner             2             62),
 ('Scouts',    regiment company   name  preTestScore  postTestScore
  8    Scouts     1st  Sloan             2             62
  9    Scouts     1st  Piger             3             70
  10   Scouts     2nd  Riani             2             62
  11   Scouts     2nd    Ali             3             70)]

In [34]:
# Group the dataframe by regiment, and for each regiment,
for name,group in df.groupby(df['regiment']):
    # print the name of the regiment
    print(name)
    # print the data of that regiment
    print(group)

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

**Group By Columns**

Specifically in this case; group by the data types of the columns (i.e axis =1) and then use the list() to view what that grouping looks like.

In [35]:
list(df.groupby(df.dtypes,axis=1))

[(dtype('int64'),     preTestScore  postTestScore
  0              4             25
  1             24             94
  2             31             57
  3              2             62
  4              3             70
  5              4             25
  6             24             94
  7             31             57
  8              2             62
  9              3             70
  10             2             62
  11             3             70),
 (dtype('O'),       regiment company      name
  0   Nighthawks     1st    Miller
  1   Nighthawks     1st  Jacobson
  2   Nighthawks     2nd       Ali
  3   Nighthawks     2nd    Milner
  4     Dragoons     1st     Cooze
  5     Dragoons     1st     Jacon
  6     Dragoons     2nd    Ryaner
  7     Dragoons     2nd      Sone
  8       Scouts     1st     Sloan
  9       Scouts     1st     Piger
  10      Scouts     2nd     Riani
  11      Scouts     2nd       Ali)]

**In the dataframe df, group by regiment, take the mean value of the other variables for those groups, then display them with the prefix 'mean'**

In [36]:
df.groupby(df['regiment']).mean().add_prefix('mean_')

            mean_preTestScore  mean_postTestScore
regiment
Dragoons                15.50                61.5
Nighthawks              15.25                59.5
Scouts                   2.50                66.0

In [37]:
df.groupby(df['regiment']).sum().add_prefix('sum_')

            sum_preTestScore  sum_postTestScore
regiment
Dragoons                  62                246
Nighthawks                61                238
Scouts                    10                264

**Create a function to get the stats of a group**

In [38]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 'count': group.count(), 'mean': group.mean()}

**Create bins and bin up postTestScore by those bins**

In [43]:
bins = [0,25,50,75,100]
group_names = ['Low','Okay','Good','Great']
df['postTestScore_category'] = pd.cut(df['postTestScore'],bins,labels = group_names)
df.drop('categories', axis=1, inplace = True)
df.head(3)

,regiment,company,name,preTestScore,postTestScore,postTestScore_category
0,Nighthawks,1st,Miller,4,25,Low
1,Nighthawks,1st,Jacobson,24,94,Great
2,Nighthawks,2nd,Ali,31,57,Good

**Create bins and bin up preTestScore by those bins**

In [44]:
bins = [0,25,50,75,100]
group_names1 = ['Low','Okay','Good','Great']
df['preTestScore_category'] = pd.cut(df['preTestScore'],bins,labels=group_names1)
df.head(3)

,regiment,company,name,preTestScore,postTestScore,postTestScore_category,preTestScore_category
0,Nighthawks,1st,Miller,4,25,Low,Low
1,Nighthawks,1st,Jacobson,24,94,Great,Low
2,Nighthawks,2nd,Ali,31,57,Good,Okay

**Apply the get_stats() function to each postTestScore bin**

In [53]:
df['postTestScore'].groupby(df['postTestScore_category']).apply(get_stats).unstack()

                        count   max   mean   min
postTestScore_category
Low                       2.0  25.0  25.00  25.0
Okay                      0.0   NaN    NaN   NaN
Good                      8.0  70.0  63.75  57.0
Great                     2.0  94.0  94.00  94.0

In [54]:
df['preTestScore'].groupby(df['preTestScore_category']).apply(get_stats).unstack()

                       count   max  mean   min
preTestScore_category
Low                     10.0  24.0   7.1   2.0
Okay                     2.0  31.0  31.0  31.0
Good                     0.0   NaN   NaN   NaN
Great                    0.0   NaN   NaN   NaN