**Create a Pipeline in Pandas**

https://chrisalbon.com/python/data_wrangling/pandas_create_pipeline/

**Pandas Pipeline feature allows you to string together Python functions in order to build a pipeline of data processing**

In [1]:
import pandas as pd

**Create Dataframe**

In [23]:
#Create an empty dataframe

df = pd.DataFrame()

#Create a column
df['name'] = ['John', 'Steve', 'Sarah']
df['gender'] = ['Male', 'Male', 'Female']
df['age'] = [31, 32, 19]

#View Dataframe
df

    name  gender  age
0   John    Male   31
1  Steve    Male   32
2  Sarah  Female   19

**Create Functions to Process Data**

In [16]:
#Create a function that groups the data by a column and returns the mean age per group

def mean_age_by_group(dataframe, col):
    return dataframe.groupby(dataframe[col]).mean()

In [17]:
mean_age_by_group(df,'gender')

         age
gender
Female  19.0
Male    31.5

In [20]:
#Create a function that capitalizes all the column headers and returns them

def capitalize_col_header(dataframe):
    dataframe.columns = dataframe.columns.str.upper()
    return dataframe

In [21]:
#capitalize_col_header(df)

    NAME  GENDER  AGE
0   John    Male   31
1  Steve    Male   32
2  Sarah  Female   19

**Create A Pipeline of those functions**

In [24]:
# Create a pipeline that applies the mean_age_by_group function
(df.pipe(mean_age_by_group,'gender')
   .pipe(capitalize_col_header)
)

         AGE
gender
Female  19.0
Male    31.5