**Group Pandas data by Hour of the Day**

https://chrisalbon.com/python/data_wrangling/group_pandas_data_by_hour_of_the_day/

In [1]:
import pandas as pd
import numpy as np

**Create Data**

In [2]:
# Create a time series of 2000 elements, one very five minutes starting on 1/1/2000

time = pd.date_range('1/2/2000',periods = 2000, freq='5min')

#Create a pandas series with 2000 random values between 0 and 100, using time as the index

series = pd.Series(np.random.randint(100, size=2000), index = time)

**View Data**

In [3]:
series

2000-01-02 00:00:00    79
2000-01-02 00:05:00    82
2000-01-02 00:10:00    33
2000-01-02 00:15:00    22
2000-01-02 00:20:00    25
2000-01-02 00:25:00    74
2000-01-02 00:30:00    87
2000-01-02 00:35:00    52
2000-01-02 00:40:00    72
2000-01-02 00:45:00    92
2000-01-02 00:50:00    38
2000-01-02 00:55:00    48
2000-01-02 01:00:00    95
2000-01-02 01:05:00    76
2000-01-02 01:10:00     9
2000-01-02 01:15:00    31
2000-01-02 01:20:00    91
2000-01-02 01:25:00    98
2000-01-02 01:30:00    61
2000-01-02 01:35:00    26
2000-01-02 01:40:00    53
2000-01-02 01:45:00    29
2000-01-02 01:50:00    82
2000-01-02 01:55:00     0
2000-01-02 02:00:00     1
2000-01-02 02:05:00    96
2000-01-02 02:10:00    58
2000-01-02 02:15:00    11
2000-01-02 02:20:00    98
2000-01-02 02:25:00    54
                       ..
2000-01-08 20:10:00    81
2000-01-08 20:15:00    42
2000-01-08 20:20:00     1
2000-01-08 20:25:00    26
2000-01-08 20:30:00    44
2000-01-08 20:35:00    40
2000-01-08 20:40:00    51
2000-01-08 20:45:00    76
2000-01-08 20:50:00    67
2000-01-08 20:55:00    36
2000-01-08 21:00:00    38
2000-01-08 21:05:00    39
2000-01-08 21:10:00    74
2000-01-08 21:15:00    93
2000-01-08 21:20:00    93
2000-01-08 21:25:00    41
2000-01-08 21:30:00    66
2000-01-08 21:35:00     2
2000-01-08 21:40:00    53
2000-01-08 21:45:00    82
2000-01-08 21:50:00    70
2000-01-08 21:55:00    55
2000-01-08 22:00:00    63
2000-01-08 22:05:00    59
2000-01-08 22:10:00     9
2000-01-08 22:15:00     3
2000-01-08 22:20:00     6
2000-01-08 22:25:00    10
2000-01-08 22:30:00    30
2000-01-08 22:35:00    61
Freq: 5T, dtype: int64

**Group data by Time of the Day**

In [4]:
# Group the data by the index's hour value, then aggregate by the average

series.groupby(series.index.hour).mean()

0     50.904762
1     54.202381
2     48.250000
3     49.547619
4     54.869048
5     51.845238
6     51.500000
7     56.892857
8     48.226190
9     43.000000
10    47.095238
11    45.750000
12    52.130952
13    48.178571
14    52.952381
15    47.988095
16    44.785714
17    48.761905
18    51.952381
19    50.095238
20    51.845238
21    46.261905
22    53.450000
23    44.458333
dtype: float64