**Quickly change a column of strings in Pandas**

https://chrisalbon.com/python/data_wrangling/pandas_change_column_of_strings/

Often I need or want to change the case of all items in a column of strings (e.g. BRAZIL to Brazil, etc.). There are many ways to accomplish this but I have settled on this one as the easiest and quickest.

In [1]:
import pandas as pd

**Create a list of names**

In [2]:
names  = pd.Series(['Steve Murrey', 'Jane Fonda', 'Sara McGully', 'Mary Jane'])
names

0    Steve Murrey
1      Jane Fonda
2    Sara McGully
3       Mary Jane
dtype: object

**Print the column with lower case**

In [3]:
names.str.lower()

0    steve murrey
1      jane fonda
2    sara mcgully
3       mary jane
dtype: object

**Print the column with upper case**

In [4]:
names.str.upper()

0    STEVE MURREY
1      JANE FONDA
2    SARA MCGULLY
3       MARY JANE
dtype: object

**Print the column with title case**

In [5]:
names.str.title()

0    Steve Murrey
1      Jane Fonda
2    Sara Mcgully
3       Mary Jane
dtype: object

**Print the column split across spaces**

In [6]:
names.str.split(' ')

0    [Steve, Murrey]
1      [Jane, Fonda]
2    [Sara, McGully]
3       [Mary, Jane]
dtype: object

**Print the column with capitalized case**

In [7]:
names.str.capitalize()

0    Steve murrey
1      Jane fonda
2    Sara mcgully
3       Mary jane
dtype: object

You get the idea. Many more string methods are available [here](https://docs.python.org/3.5/library/stdtypes.html#string-methods)