**Selecting Rows in a dataframe based on Conditions**

https://chrisalbon.com/python/data_wrangling/pandas_selecting_rows_on_conditions/

In [2]:
import pandas as pd
import numpy as np

**Create a dataframe**

In [3]:
# Create a dataframe
raw_data = {'first_name': ['Jason', 'Molly', np.nan, np.nan, np.nan], 
        'nationality': ['USA', 'USA', 'France', 'UK', 'UK'], 
        'age': [42, 52, 36, 24, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'nationality', 'age'])
df

  first_name nationality  age
0      Jason         USA   42
1      Molly         USA   52
2        NaN      France   36
3        NaN          UK   24
4        NaN          UK   70

**Method 1 : Using Boolean variables**

In [4]:
american = df['nationality'] == 'USA'
american

0     True
1     True
2    False
3    False
4    False
Name: nationality, dtype: bool

In [5]:
elderly = df['age'] > 50
elderly

0    False
1     True
2    False
3    False
4     True
Name: age, dtype: bool

In [6]:
#Select all cases where nationality is "USA" and age is greater than 50

df[american & elderly]

  first_name nationality  age
1      Molly         USA   52

**Method 2 : Using Variable attributes**

In [8]:
df[(df['first_name'].notnull()) & (df['nationality'] == 'USA')]

  first_name nationality  age
0      Jason         USA   42
1      Molly         USA   52