**Select Rows with a Certain Value**

https://chrisalbon.com/python/data_wrangling/pandas_select_rows_containing_values/

In [1]:
import pandas as pd

**Create a Dataframe**

In [2]:
data = {'name' : ['Jason', 'Molly'],
        'country' : [['Syria','Lebanon'],['Spain','Morocco']]}

df = pd.DataFrame(data)
df

            country   name
0  [Syria, Lebanon]  Jason
1  [Spain, Morocco]  Molly

In [3]:
df[df['country'].map(lambda country: 'Syria' in country)]

            country   name
0  [Syria, Lebanon]  Jason