**Select Rows with Multiple filters on Values of a column**

https://chrisalbon.com/python/data_wrangling/pandas_select_rows_multiple_filters/

In [1]:
import pandas as pd

**Create a Dataframe**

In [2]:
# Create an example dataframe
data = {'name': ['A', 'B', 'C', 'D', 'E'], 
        'score': [1,2,3,4,5]}
df = pd.DataFrame(data)
df

  name  score
0    A      1
1    B      2
2    C      3
3    D      4
4    E      5

**Select Rows from the Dataframe where df['score'] graeter than 1 and less than 5**

In [4]:
df[(df['score'] > 1) & (df['score'] < 5)]

  name  score
1    B      2
2    C      3
3    D      4